<div class="eqLogic eqLogic-widget allowResize #custom_layout# #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#; min-height:180px;">
  <center class="widget-name">
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>    
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>
    <center style="margin: 1rem auto;">
      <div class="blocJour" >
        <span>Aujourd'hui</span>
        <div class="couleurJ color_#edf_today#" ></div>
      </div>
      <div class="blocJour" >
        <span >Demain</span>
        <div class="couleurJ color_#edf_tomorrow#" ></div>
      </div>
    </center>

    <center>
  <div class="cmds #isVerticalAlign#">
      <div class="blockContent">
        <div class="ligneEdf">
          <span class="couleurJsm color_TEMPO_BLEU" ></span>
          <span class="" >#edf_nb_bleu#</span>/<span class="" >300</span>
          <div  class="prixEDF" >#global_tempo_bleu_hc#/#global_tempo_bleu_hp#</div>
        </div>
      </div>
      <div class="blockContent">
        <div class="ligneEdf">
          <span class="couleurJsm color_TEMPO_BLANC" ></span>
          <span class="" >#edf_nb_blanc#</span>/<span class="" >43</span>
          <div  class="prixEDF" >#global_tempo_blanc_hc#/#global_tempo_blanc_hp#</div>
        </div>
      </div>
      <div class="blockContent">
        <div class="ligneEdf">
          <span class="couleurJsm color_TEMPO_ROUGE" ></span>
          <span class="" >#edf_nb_rouge#</span>/<span class="" >22</span>
          <div  class="prixEDF" >#global_tempo_rouge_hc#/#global_tempo_rouge_hp#</div>
        </div>
      </div>

  </div>
    </center>
</div>
<link href="/plugins/edf_tempo/desktop/css/edf_tempo.css" rel="stylesheet">
<script>
  if ('#refresh_id#' != '') {
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'})
    })
  } else {
   $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
  }
</script>