<div class="eqLogic eqLogic-widget allowResize #custom_layout# #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#; min-width: 152px; min-height: 212px;">
  <center class="widget-name">
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>    
      <span>#name_display#
        <span class="object_name">#object_name#</span>
      </span>    
  </center>
  <center>
    <div class="edf_tempo">
      <div class="couleurs">
        <div>
          <div class="edf_tempo_">Aujourd'hui</div>
          <span class="largeColor color_#edf_today#"></span>
        </div>
        <div>
          <div class="edf_tempo_">Demain</div>
          <span class="largeColor color_#edf_tomorrow#"></span>
        </div>
      </div>
      <div class="edf_tempo_jours">
        <div class="edf_tempo_line">
          <div class="smallColor color_TEMPO_BLEU"></div>
          <div class="edf_tempo_reste">
            <span class="edf_tempo_jr">#edf_nb_bleu#/300</span>
            <span class="edf_tempo_prix">#global_tempo_bleu_hc#/#global_tempo_bleu_hp#</span>
          </div>
        </div>
        <div class="edf_tempo_line">
          <div class="smallColor color_TEMPO_BLANC"></div>
          <div class="edf_tempo_reste">
            <span class="edf_tempo_jr">#edf_nb_blanc#/43</span>
            <span class="edf_tempo_prix">#global_tempo_blanc_hc#/#global_tempo_blanc_hp#</span>
          </div>
        </div>
        <div class="edf_tempo_line">
          <div class="smallColor color_TEMPO_ROUGE"></div>
          <div class="edf_tempo_reste">
            <span class="edf_tempo_jr">#edf_nb_rouge#/22</span>
            <span class="edf_tempo_prix">#global_tempo_rouge_hc#/#global_tempo_rouge_hp#</span>
          </div>
        </div>
      </div>
    </div>
  </center>
</div>
<link href="/plugins/edf_tempo/desktop/css/edf_tempo.css?20231003" rel="stylesheet">
<script>
  if ('#refresh_id#' != '') {
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'})
    })
  } else {
   $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
  }
</script>
