* {
  --edf_tempo_Bleu:#3997d3;
  --edf_tempo_Blanc:#ecf0f1;
  --edf_tempo_Rouge:#e84b3c;
}

.edf_tempo {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  max-width: 122px;
  min-height: 200px;
}
.edf_tempo .color_TEMPO_BLEU {
  background-color: var(--edf_tempo_Bleu) !important;
}
.edf_tempo .color_TEMPO_BLANC {
  background-color: var(--edf_tempo_Blanc) !important;
}
.edf_tempo .color_TEMPO_ROUGE {
  background-color: var(--edf_tempo_Rouge) !important;
}
.edf_tempo .couleurs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-gap: 1rem;
}
.edf_tempo .edf_tempo_jours {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 0.5rem;
}
.edf_tempo .edf_tempo_jours .edf_tempo_line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.edf_tempo .edf_tempo_jours .edf_tempo_line .edf_tempo_reste {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.edf_tempo .edf_tempo_jours .edf_tempo_line .edf_tempo_reste .edf_tempo_jr {
  font-weight: bold;
}
.edf_tempo .edf_tempo_jours .edf_tempo_line .edf_tempo_reste .edf_tempo_prix {
  font-size: 9px !important;
  line-height: 10px;
  text-align: center;
  width: 70px;
}
.edf_tempo .largeColor {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey;
  margin: 4px auto;
}
.edf_tempo .smallColor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  margin: 4px;
}